<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<!-- Link css para productos -->
	<link rel="stylesheet" href="../../css/publico/detalle.css">
	<link rel="stylesheet" href="../../css/publico/main.css">

	<!-- Iconos -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

	<!-- favicon -->
	<link rel="icon" type="image/x-icon" href="../../resources/butterfly.png">

	<script src="../../package/js-image-zoom.js"></script>

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

	<title>Detalle | ThruColors</title>
</head>

<body>
	<header class="fixed">
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container">
				<a class="navbar-brand kathen text-white" href="../publico/index.html"><img
						src="../../resources/butterfly.png" class="img-fluid logo" alt=""> Thru Colors</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">

					</ul>
					<form class="d-flex" id="info_client">
						
					</form>
				</div>
			</div>
		</nav>
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a class="navigator" href="../publico/index.html">Inicio</a></li>
						<li class="breadcrumb-item"><a class="navigator" href="../publico/productos.html">Productos</a></li>
						<li class="breadcrumb-item active" id="activo" aria-current="page">Detalle Producto</li>
					</ol>
				</nav>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					</ul>
					<form class="d-flex">
						<a href="../publico/carrito.html"><img src="../../resources/iconos/icons8_basket_128px.png"
								class="img-fluid carrito" alt=""></a>
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn search btn-outline-secondary" type="submit">
							<i class="bi bi-search"></i>
						</button>
					</form>
				</div>
			</div>
		</nav>
	</header>

	<section class="hero">
		<div class="container">
			<div class="row">
				<div class="col-md-5 mt-3">
					<div class="img-container text-center" id="img-container">						
					</div>
				</div>
				<div class="col-md-7 mt-3">
					<div id="producto-container"></div>
					<div class="row">
						<div class="col-md-3 counter">
							<div class="row">
								<div class="col">
									<a class="btn incremento" id="disminuye" href="#"> <i class="fa-solid fa-minus"></i> </a>
								</div>
								<div class="col">
									<div class="texto">
										<label id="display">1</label>
									</div>
								</div>
								<div class="col">
									<a class="btn incremento" id="incrementa" href="#"> <i class="fa-solid fa-plus"></i> </a>
								</div>
							</div>
						</div>
						<div class="col-md-9 counter">
							<button type="button" class="btn btn-outline-primary enviar">Añadir al carrito</button>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="details">
						<div class="row">
							<div class="col-md-6">
								<h3>Presentacion</h3>
								<hr class="dropdown-divider">
								<h3>Marca</h3>
							</div>
							<div class="col-md-6">
								<div id="presentacion-container"></div>
								<hr class="dropdown-divider	">
								<div id="marca-container"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<h3 class="relationated_products">Productos relacionados</h3>
						<div class="container p-4">
							<div class="row">
								<div class="col-md-4">
									<div class="card">
										<div class="img-container">
											<img src="../../resources/productos/Product1.png" class="image card-img-top img-fluid" alt="..." />
											<div class="overlay">
												<div class="col">
													<button type="button" class="btn btn-outline-danger btn-sm">
														Agregar al carrito <i class="bi bi-bag"></i>
													</button>
												</div>
											</div>
										</div>
										<div class="card-body">
											<h5 class="card-title text-center">Hidratación</h5>
											<p class="card-description text-center">Crema para el cuerpo Hand Rief 300ml</p>
											<p class="card-price text-center">$12.95</p>
											<form action="" class="text-center">
												<!-- <a href="#" class="btn btn-outline-secondary cards">Go somewhere</a> -->
											</form>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="card">
										<div class="img-container">
											<img src="../../resources/productos/Product1.png" class="image card-img-top img-fluid" alt="..." />
											<div class="overlay">
												<div class="col">
													<button type="button" class="btn btn-outline-danger btn-sm">
														Agregar al carrito <i class="bi bi-bag"></i>
													</button>
												</div>
											</div>
										</div>
										<div class="card-body">
											<h5 class="card-title text-center">Hidratación</h5>
											<p class="card-description text-center">Crema para el cuerpo Hand Rief 300ml</p>
											<p class="card-price text-center">$12.95</p>
											<form action="" class="text-center">
												<!-- <a href="#" class="btn btn-outline-secondary cards">Go somewhere</a> -->
											</form>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="card">
										<div class="img-container">
											<img src="../../resources/productos/Product1.png" class="image card-img-top img-fluid" alt="..." />
											<div class="overlay">
												<div class="col">
													<button type="button" class="btn btn-outline-danger btn-sm">
														Agregar al carrito <i class="bi bi-bag"></i>
													</button>
												</div>
											</div>
										</div>
										<div class="card-body">
											<h5 class="card-title text-center">Hidratación</h5>
											<p class="card-description text-center">Crema para el cuerpo Hand Rief 300ml</p>
											<p class="card-price text-center">$12.95</p>
											<form action="" class="text-center">
												<!-- <a href="#" class="btn btn-outline-secondary cards">Go somewhere</a> -->
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
		</div>
	</section>
	<footer class="footer">
		
	</footer>

	<!-- JS del plugin SWIPER -->
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

	<!-- Font Awesome -->
	<script src="https://kit.fontawesome.com/7cef28abfd.js" crossorigin="anonymous"></script>

	<script src="../../js/publico/counter.js"></script>

	<script src="../../js/publico/detalle.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
		integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
		integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
		crossorigin="anonymous"></script>

	<!--Index.js -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="../../controller/components.js"></script>
	<script src="../../controller/public/account.js"></script>
	<script src="../../controller/public/detalle_p.js"></script>
</body>

</html>