<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="../../resources/butterfly.png" />
    <link rel="stylesheet" href="../../css/publico/sing-up.css">

    <title>ThruColors | Registrarse</title>
</head>

<body>
    <header></header>
    <main>
        <div class="container">
            <div class="forms-container">
                <div class="signin-signup">
                    <form autocomplete="off" id="register-form" name="register-form" class="form-control" method="post">
                        <h2 class="title">Registrarse</h2>
                        <div class="inputs">
                            <div class="lado1">
                                <div class="input-field">
                                    <i class="fa-solid fa-user"></i>
                                    <input type="text" placeholder="Nombre" />
                                </div>
                                <div class="input-field">
                                    <i class="fa-solid fa-envelope"></i>
                                    <input type="email" placeholder="Correo" />
                                </div>
                                <div class="input-field">
                                    <i class="fas fa-phone"></i>
                                    <input type="text" placeholder="Teléfono" />
                                </div>
                                <div class="input-field file-select" id="src-file1">
                                    <i class="fas fa-lock"></i>
                                    <input type="file" />
                                </div>
                            </div>
                            <div class="lado2">
                                <div class="input-field">
                                    <i class="fas fa-user"></i>
                                    <input type="text" placeholder="Apellido" />
                                </div>
                                <div class="input-field">
                                    <i class="fas fa-home"></i>
                                    <input type="text" placeholder="Dirección" />
                                </div>
                                <div class="input-field">
                                    <i class="fas fa-lock"></i>
                                    <input type="password" placeholder="Contraseña" />
                                </div>
                                <div class="input-field">
                                    <i class="fas fa-lock"></i>
                                    <input type="password" placeholder="Confirmar Contraseña" />
                                </div>
                            </div>
                        </div>
                        <label class="col s12 center-align">
                            <input type="checkbox" id="condicion" name="condicion" required>
                            <span>Acepto <a href="#" class="modal-trigger">términos y condiciones</a></span>
                        </label>
                        <div class="contain">
                            <button type="submit" id="register" class="btn">Registrarte</button>
                        </div>
                    </form>

                    <script src="https://www.google.com/recaptcha/api.js?render=6LdBzLQUAAAAAJvH-aCUUJgliLOjLcmrHN06RFXT"></script>
                </div>
            </div>
            <div class="panels-container">
                <div class="panel left-panel">
                    <div class="content">
                        <h3>Ya tienes una cuenta ?</h3>
                        <p>
                            Inicia sesión con el usuario que has creado anteriormente y sigue haciendo las compras de tu
                            preferencia
                        </p>
                        <a href="../publico/login.html" class="log_in">Iniciar Sesión</a>
        
                    </div>
                    <img src="../../resources/img/undraw_access_account_re_8spm.svg" class="image" alt="" />
                </div>
            </div>
        </div>
    </main>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/7cef28abfd.js" crossorigin="anonymous"></script>
    <!-- Sweetalert  -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Js del sitio -->
    <script src="../../controller/components.js"></script>
    <script src="../../controller/public/account.js"></script>
    <script src="../../controller/public/sing-up.js"></script>
</body>

</html>