/* Tipografías */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Variables de color */
:root{
    --black:  #000;
    --white:  #fff;
    --red: #F44336;
    --hover-red: #BF342B;
    --verde: #7EBD3F;
    --verde_hover: #007200;
    --input: #E6E6E6;
}

.modal-titulo{
    font-family: 'Inter', sans-serif;
    margin-bottom: 30px;
}

#cerrar_form{
    background-color: var(--red);
    border-radius: 5px;
    padding: 9px 55px;
    color: var(--white);
}

#cerrar_form:hover{
    background-color: var(--hover-red);
    color: var(--white);
}

#agregar{
    background-color: var(--verde);
    border-radius: 5px;
    padding: 0.6rem 50px;
    color: var(--white);
}

#agregar:hover{
    background-color: var(--verde_hover);
    color: var(--white);
}

.label{
    font-family: 'Roboto Flex', sans-serif;
}

.input-label{
    border: 1px solid #000;
    background-color: var(--input);
    color: var(--black);
    margin-top: 10px;
    width: 90%;
    margin-bottom: 10px;
}

.select_id{
    background-color: var(--input);
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Personalizando los inputs de archivos */
.file-select {
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

.file-select::before {
  background-color: #5678EF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'Seleccionar'; /* testo por defecto */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.file-select input[type="file"] {
  opacity: 0;
  width: 200px;
  height: 32px;
  display: inline-block;
}

#src-file1::before {
  content: 'Seleccionar Archivo';
}

#src-file2::before {
  content: 'Seleccionar Archivo 2';
}

/* Modal */
.lateral1{
    display: flex;
}

.lateral2{
    display: flex;
}

.openModal{
    margin-top: 30px;
    margin-bottom: 50px;
}