:root{
  --white: #fff;
  --black: #000;
  --btn_agregar: #7EBD3F;
  --btn_border: #4CAF50;
  --btn_hover: #157347;
  --btn_reporte: #FFCA2C;
  --report_hover: #FFD451;
  --btn_editar: #2196F3;
  --btn_eilminar: #F44336;
}

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.main-text{
    font-family: 'Questrial', sans-serif;
}

.contenido{
  text-align: center;
}

.botones{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  margin-bottom: 20px;
}

.btn-agregar{
  padding: 5px;
  background-color: var(--btn_agregar);
  border: 1px solid var(--btn_border);
  font-size: 18px;
  border-radius: 5px;
  height: 2.5rem;
  width: 8rem;
  color: var(--white);
  margin-left: 5px;
}
.btn-agregar:hover{
  background-color: var(--btn_hover);
}

.btn-reporte{
  padding: 5px;
  background-color: var(--btn_reporte);
  border-radius: 5px;
  font-size: 18px;
  height: 2.5rem;
  width: 8rem;
  color: var(--white);
}
.btn-reporte:hover{
  background-color: var(--report_hover);
}

.btn-editar{
  background-color: var(--btn_editar);
  height: 2rem;
  width: 3rem;
  border-radius: 5px;
}

.btn-eliminar{
  background-color: var(--btn_eilminar);
  height: 2rem;
  width: 3rem;
  border-radius: 5px;
}

.espaciado{
  width: 100px !important;
  margin: 50px;
}

i{
  color: var(--white);
}