:root{
  --white: #fff;
  --black: #000;
  --gray: #EFF0F6;
  --btn_agregar: #7EBD3F;
  --btn_border: #4CAF50;
  --btn_hover: #157347;
  --btn_reporte: #FFCA2C;
  --report_hover: #FFD451;
  --btn_editar: #2196F3;
  --btn_eilminar: #F44336;
}

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.titles{
  font-family: 'Satisfy', cursive;
  font-size: 2rem;
}

.main-text{
    font-family: 'Questrial', sans-serif;
}

.contenido{
  text-align: center;
}

.botones{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  margin-bottom: 20px;
}

.btn-agregar{
  padding: 5px;
  background-color: var(--btn_agregar);
  border: 1px solid var(--btn_border);
  font-size: 18px;
  border-radius: 5px;
  height: 2.5rem;
  width: 8rem;
  color: var(--white);
  margin-left: 5px;
}
.btn-agregar:hover{
  background-color: var(--btn_hover);
}

.btn-reporte{
  padding: 5px;
  background-color: var(--btn_reporte);
  border-radius: 5px;
  font-size: 18px;
  height: 2.5rem;
  width: 8rem;
  color: var(--white);
}
.btn-reporte:hover{
  background-color: var(--report_hover);
}

.btn-editar{
  background-color: var(--btn_editar);
  height: 2rem;
  width: 3rem;
  border-radius: 5px;
}

.btn-eliminar{
  background-color: var(--btn_eilminar);
  height: 2rem;
  width: 3rem;
  border-radius: 5px;
}

.espaciado{
  width: 100px !important;
  margin: 50px;
}

i{
  color: var(--white);
}

/* Estilo de los modales del sitio */

.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
}

.modal__container{
  width: 60%;
  margin-right: 90px;
  border-radius: 6px;
  background-color: #fff;
  margin: auto;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
}

.modal__img{
  width: 200px;
}

.modal__title{
  font-size: 2rem;
  margin-bottom: 20px;
}

.modal__paragraph{
  margin-bottom: 10px;
}

.modal__close{
  text-decoration: none;
  color: #fff;
  background-color: var(--btn_agregar);
  padding: 1em 3em;
  border-radius: 5px;
  border: 1px solid ;
  display: inline-block;
  font-weight: 300;
  transition: background-color .3s;
}

.modal__close:hover{
  color: var(--btn_border);
  background-color: #fff;
}

#closeModal{
  text-decoration: none;
  color: var(--white);
  background-color: var(--btn_editar);
  padding: 1em 3em;
  border-radius: 5px;
  border: 1px solid ;
  display: inline-block;
}

#closeModal:hover{
  color: var(--btn_editar);
  background-color: var(--white);
}

.modal--show{
  opacity: 1;
  pointer-events: unset;
}

.input_custom{
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  grid-auto-columns: 100%;
}

.items{
  display: flex;
  justify-content: space-between;
}

form{
  width: 100%;
}

/* Inputs de seleccion de archivos */
.file-select {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.file-select::before {
  background-color: var(--gray);
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.file-select input[type="file"] {
  opacity: 0;
  width: 200px;
  height: 32px;
  display: inline-block;
  cursor: pointer;
}

#src-file1::before {
  content: 'Seleccionar Archivo';
  cursor: pointer;
}