<html lang="es">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Thru Colors | Empleados</title>
	<!-- Favicon -->
	<link rel="shortcut icon" href="../../resources/Butterfly.png" type="image/x-icon" />
	<!-- Custom styles -->
	<link rel="stylesheet" href="../../css/privado/style.min.css" />
	<!-- Estilos personalizados Nelson Almendares -->
	<link rel="stylesheet" href="../../css/privado/productos.css">
</head>

<body>
	<a class="skip-link sr-only" href="#skip-target">Skip to content</a>
	<div class="page-flex">
		<!-- ! Nav -->
		<aside class="sidebar ">
			<div class="sidebar-start">
				<div class="sidebar-head">
					<a href="inicio.html" class="logo-wrapper" title="Home">
						<span class="sr-only">Inicio</span>
						<img src="../../resources/logo.png" class="logo" />
					</a>
					<button class="sidebar-toggle transparent-btn" title="Menu" type="button">
						<span class="sr-only">Toggle menu</span>
						<span class="icon menu-toggle" aria-hidden="true"></span>
					</button>
				</div>
				<div class="sidebar-body ">
					<a class="sidebar-user" id="info_user">						
					</a>
					<ul class="sidebar-body-menu">
						<li>
							<a href="inicio.html">
								<span class="icon" aria-hidden="true"><img src="../../resources/iconos/inicio.png"
										alt="..." class="icon-boton" /></span>
								Inicio
							</a>
						</li>
						<li>
							<a href="ventas.html">
								<span class="icon" aria-hidden="true"><img src="../../resources/iconos/venta.png"
										alt="..." class="icon-boton" /></span>
								Ventas
							</a>
							<!--span class="msg-counter">7</°span-->
						</li>
						<li>
							<a href="categoria.html">
								<span class="icon" aria-hidden="true"><img src="../../resources/iconos/categoria.png"
										alt="..." class="icon-boton" /></span>
								Categorías
							</a>
							<!--span class="msg-counter">7</°span-->
						</li>
						<li>
							<a href="productos.html">
								<span class="icon" aria-hidden="true"><img src="../../resources/iconos/productos.png"
										alt="..." class="icon-boton" /></span>
								Productos
							</a>
							<!--span class="msg-counter">7</°span-->
						</li>
						<li>
							<a href="clientes.html">
								<span class="icon" aria-hidden="true"><img src="../../resources/iconos/clientes.png"
										alt="..." class="icon-boton" /></span>
								Clientes
							</a>
							<!--span class="msg-counter">7</°span-->
						</li>
						<li>
							<a href="marcas.html">
								<span class="icon" aria-hidden="true"><img src="../../resources/iconos//marcas.png"
										alt="..." class="icon-boton" /></span>
								Marcas
							</a>
							<!--span class="msg-counter">7</°span-->
						</li>
						<li>
							<a class="active" href="empleados.html">
								<span class="icon" aria-hidden="true"><img src="../../resources/iconos/empleado.png"
										alt="..." class="icon-boton" /></span>
								Empleados
							</a>
							<!--span class="msg-counter">7</°span-->
						</li>
						<li>
							<a href="tipo_empleados.html">
								<span class="icon" aria-hidden="true"><img
										src="../../resources/iconos/tipo_empleado.png" alt="..."
										class="icon-boton" /></span>
								Tipo Empleados
							</a>
						</li>
					</ul>
				</div>
				<ul class="cat-sub-menu">
					<li>
						<a href="extention-01.html"></a>
					</li>
					<li>
						<a href="extention-02.html"></a>
					</li>
				</ul>
			</div>
			<div class="sidebar-footer"></div>
		</aside>
		<div class="main-wrapper">
			<!-- ! Header -->
			<header>
				<nav class="main-nav--bg">
					<div class="container main-nav">
						<div class="main-nav-start">
							<div class="search-wrapper buscar">
								<i data-feather="search" aria-hidden="true"></i>
								<input type="text" placeholder="Buscar" required />
							</div>
						</div>
						<div class="main-nav-end">
							<button class="sidebar-toggle transparent-btn" title="Menu" type="button">
								<span class="sr-only">Toggle menu</span>
								<span class="icon menu-toggle-gray" aria-hidden="true"></span>
							</button>
							<button class="theme-switcher gray-circle-btn" type="button" title="Tema">
								<span class="sr-only">Tema</span>
								<i class="sun-icon" data-feather="sun" aria-hidden="true"></i>
								<i class="moon-icon" data-feather="moon" aria-hidden="true"></i>
							</button>
							<div class="notification-wrapper">
								<button class="gray-circle-btn dropdown-btn" title="Configuracion" type="button">
									<span class="sr-only">Configuración</span>
									<i class="fa-solid fa-gear"></i>
								</button>
								<ul class="users-item-dropdown notification-dropdown dropdown">
									<li>
										<a class="sidebar-user" onclick="logOut()">Cerrar sesión</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</nav>
			</header>
			<!-- Main -->
			<main class="main users chart-page" id="skip-target">
				<div class="container">
					<div class="col spacing-top">
						<h2 class="main-text">Administración de Empleados</h2>
					</div>
					<div class="container">
						<div class="col botones">
							<button class="add-btn btn-agregar" onclick="openCreate()">Agregar</button>
							<button class="btn-reporte" type="submit">Reporte</button>
						</div>
					</div>
					<div class="col">
						<form action="" id="form" name="form" method="post">
							<table class="table">
								<thead>
									<tr>
										<th>Foto empleado</th>
										<th>Nombre empleado</th>
										<th>Apellido empleado</th>
										<th>DUI</th>
										<th>Direccion</th>
										<th>Codigo empleado</th>
										<th>Tipo empleado</th>
										<th>Acciones</th>
									</tr>
								</thead>
								<tbody id="tbody-rowe"></tbody>								
							</table>
						</form>
					</div>
					<section save-modal class="modal">
						<div class="modal__container" id="save-modal">							
							<img src="../../resources/img/undraw_makeup_artist_rxn8.svg" alt="" class="modal__img">
							<div class="container">
								<div class="col">
									<h2 id="modal-titulo"></h2>
									<form class="row" method="post" id="save-form" enctype="multipart/form-data">
										<!-- No se coloca el id solo al momento de modificar al momento de modificar -->										
										<div class="input-field col s12 m6">
											<label class="label" for="nombre_empleado">Nombre de empleado:</label>
                      						<input type="text" class="form-control" id="nombre_empleado" name="nombre_empleado" placeholder="Nombre" required/>											
										</div>
										<div class="input-field col s12 m6">
											<label class="label" for="apellido_empleado">Apellido de empleado:</label>
                      						<input type="text" class="form-control" id="apellido_empleado" name="apellido_empleado" placeholder="Apellido" required/>												
										</div>
										<div class="input-field col s12 m6">
											<label class="label" for="DUI_empleado">DUI de empleado:</label>
                      						<input type="text" class="form-control" id="DUI_empleado" name="DUI_empleado" placeholder="12345678-9" maxlength="10" required/>												
										</div>
										<div class="input-field col s12 m6">
											<label class="label" for="direccion_empleado">Direccion de empleado:</label>
                     						<input type="text" class="form-control" id="direccion_empleado" name="direccion_empleado" placeholder="Residencial, pasaje, casa N°..." required/>											
										</div>
										<div class="input-field col s12 m6">
											<label class="label" for="tipo_empleado">Tipo empleado</label>
											<select id="tipo_empleado" name="tipo_empleado">
											</select>											
										</div>
										<div class="input-field col s12 m6">
											<label class="label" for="foto_empleado">Foto de empleado:</label>
                     						<input type="file" class="form-control" id="foto_empleado" name="foto_empleado" accept=".jpg, .png" required/>										
										</div>										
										<div class="input-field col s12 m6">
											<a href="" class="modal__close">Cerrar</a>
											<button class="add-btn btn-agregar" type="submit">Agregar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</section>
				</div>
			</main>
			<!-- Footer -->
			<footer class="footer">
				<div class="container footer--flex">
					<div class="footer-start">
						<p>
							2022 © Thru Colors -
							<a href="inicio.html" target="_blank" rel="noopener noreferrer">Thru Colors.com</a>
						</p>
					</div>
					<ul class="footer-end">
						<li><a href="##">About</a></li>
						<li><a href="##">Support</a></li>
						<li><a href="##">Puchase</a></li>
					</ul>
				</div>
			</footer>
		</div>
	</div>
	<!-- Vanilla DataTables -->
	<link rel="stylesheet" href="../../css/privado/vanilla-dataTables.min.css">
	<script src="../../js/privado/vanilla-dataTables.min.js"></script>
	<script src="https://kit.fontawesome.com/7cef28abfd.js" crossorigin="anonymous"></script>

	<!-- Font Awesome -->
	<script src="https://kit.fontawesome.com/7cef28abfd.js" crossorigin="anonymous"></script>

	<!--Inicializador de las tablas de datos -->
	<script src="../../js/privado/dataTables.js"></script>

	<!-- Icons library -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="../../js/components.js"></script>
	<script src="../../js/privado/script.js"></script>
	<script src="../../plugins/feather.min.js"></script>
	<script src="../../js/privado/modal.js"></script>
	<script src="../../js/privado/online.js"></script>
	<script src="../../js/publico/tables.js"></script>
	<script src="../../js/privado/empleados.js"></script>
</body>

</html>