<html lang="es">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Thru Colors | Registro</title>
	<!-- Favicon -->
	<link rel="shortcut icon" href="../../resources/butterfly.png" type="image/x-icon" />
	<!-- Custom styles -->
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<!-- Link para el css del sitio -->
	<link rel="stylesheet" href="../../css/privado/login.css">
</head>

<body>

    <section class="ftco-section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
            </div>
          </div>
          <div class="row justify-content-center">
          </div>
            <div class="col-md-12">
              <div class="wrap d-md-flex">                
                <div class="login-wrap p-4 p-md-5">
                  <div class="d-flex">
                    <div class="w-100">
                      <h3 class="mb-4">Primer usuario</h3>
                    </div>                    
                  </div>
				  <div class="" id="error"></div>
                  <form action="#" class="signin-form" id="register-form">
                    <div class="form-group mb-3">
                      <label class="label" for="nombre_empleado">Nombre de empleado:</label>
                      <input type="text" class="form-control" id="nombre_empleado" name="nombre_empleado" placeholder="Nombre" required/>
                    </div>
                    <div class="form-group mb-3">
                      <label class="label" for="apellido_empleado">Apellido de empleado:</label>
                      <input type="text" class="form-control" id="apellido_empleado" name="apellido_empleado" placeholder="Apellido" required/>
                    </div>
                    <div class="form-group mb-3">
                      <label class="label" for="DUI_empleado">DUI de empleado:</label>
                      <input type="text" class="form-control" id="DUI_empleado" name="DUI_empleado" placeholder="12345678-9" required/>
                    </div>
                    <div class="form-group mb-3">
                      <label class="label" for="direccion_empleado">Direccion de empleado:</label>
                      <input type="text" class="form-control" id="direccion_empleado" name="direccion_empleado" placeholder="Residencial, pasaje, casa N°..." required/>
                    </div>
                    <div class="form-group mb-3">
                      <label class="label" for="codigo_empleado">Código de empleado:</label>
                      <input type="number" class="form-control" id="codigo_empleado" name="codigo_empleado" step="000" placeholder="001" required/>
                    </div>
                    <div class="form-group mb-3">
                      <label class="label" for="clave">Contraseña:</label>
                      <input type="password" id="clave" name="clave" maxlength="8" class="form-control" placeholder="Contraseña" required/>
                    </div>
                    <div class="form-group mb-3">
                      <label class="label" for="password">Contraseña:</label>
                      <input id="confirmar" type="password" name="confirmar" maxlength="8" class="form-control" placeholder="Confirmar contraseña" required>
                    </div>
                                       
                    <div class="form-group">
                      <button type="submit" class="btn btn-outline-warnign tooltipped" value="enviar" id="button" data-tooltip="Registrar">Registrarse</button>
                    </div>
                  </form>                                    
              </div>
            </div>
          </div>
        </div>
      </section>

     
         
      <!-- Sweetalert  -->

    <!--script src="../../js/privado/login.js"></script-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> 
     <!-- Js del sitio -->
     <script src="../../js/components.js"></script>
     <script src="../../js/privado/registro.js"></script>
     <!--script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script-->
  </body>	

</html>