<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Thru Colors | Tipo empleados</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="../resources/Butterfly.png" type="image/x-icon" />
  <!-- Custom styles -->
  <link rel="stylesheet" href="../css/style.min.css" />
</head>

<body>
  <div class="layer"></div>
  <!-- ! Body -->
  <a class="skip-link sr-only" href="#skip-target">Skip to content</a>
  <div class="page-flex">
    <!-- ! Sidebar -->
    <aside class="sidebar ">
      <div class="sidebar-start">
        <div class="sidebar-head">
          <a href="../index.html" class="logo-wrapper" title="Home">
            <span class="sr-only">Home</span>
            <img src="../resources/logo.png" class="logo" />
          </a>
          <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
            <span class="sr-only">Toggle menu</span>
            <span class="icon menu-toggle" aria-hidden="true"></span>
          </button>
        </div>
        <div class="sidebar-body ">
          <a href="##" class="sidebar-user">
            <span class="sidebar-user-img">
              <picture>
                <source srcset="../resources/perfil/perfil_e.png" type="image/webp"><img
                  src="../resources/perfil/perfil_e.png" alt="User name">
              </picture>
            </span>
            <div class="sidebar-user-info">
              <span class="sidebar-user__title">Elmer Carías</span>
              <span class="sidebar-user__subtitle">CEO</span>
            </div>
          </a>
          <ul class="sidebar-body-menu">
            <li>
              <a href="../index.html">
                <span class="icon" aria-hidden="true"><img src="../resources/iconos/inicio.png" alt="..."
                    class="icon-boton" /></span>
                Inicio
              </a>
            </li>
            <li>
              <a href="ventas.html">
                <span class="icon" aria-hidden="true"><img src="../resources/iconos/venta.png" alt="..."
                    class="icon-boton" /></span>
                Ventas
              </a>
              <!--span class="msg-counter">7</°span-->
            </li>
            <li>
              <a href="categoria.html">
                <span class="icon" aria-hidden="true"><img src="../resources/iconos/categoria.png" alt="..."
                    class="icon-boton" /></span>
                Categorías
              </a>
              <!--span class="msg-counter">7</°span-->
            </li>
            <li>
              <a href="productos.html">
                <span class="icon" aria-hidden="true"><img src="../resources/iconos/productos.png" alt="..."
                    class="icon-boton" /></span>
                Productos
              </a>
              <!--span class="msg-counter">7</°span-->
            </li>
            <li>
              <a href="clientes.html">
                <span class="icon" aria-hidden="true"><img src="../resources/iconos/clientes.png" alt="..."
                    class="icon-boton" /></span>
                Clientes
              </a>
              <!--span class="msg-counter">7</°span-->
            </li>
            <li>
              <a href="marcas.html">
                <span class="icon" aria-hidden="true"><img src="../resources/iconos//marcas.png" alt="..."
                    class="icon-boton" /></span>
                Marcas
              </a>
              <!--span class="msg-counter">7</°span-->
            </li>
            <li>
              <a href="empleados.html">
                <span class="icon" aria-hidden="true"><img src="../resources/iconos/empleado.png" alt="..."
                    class="icon-boton" /></span>
                Empleados
              </a>
              <!--span class="msg-counter">7</°span-->
            </li>
            <li>
              <a class="active" href="tipo_empleados.html">
                <span class="icon" aria-hidden="true"><img src="../resources/iconos/tipo_empleado.png" alt="..."
                    class="icon-boton" /></span>
                Tipo Empleados
              </a>
            </li>
          </ul>
        </div>
        <ul class="cat-sub-menu">
          <li>
            <a href="extention-01.html"></a>
          </li>
          <li>
            <a href="extention-02.html"></a>
          </li>
        </ul>
      </div>
      <div class="sidebar-footer"></div>
    </aside>
    <div class="main-wrapper">
      <!-- ! Header -->
      <header>
        <nav class="main-nav--bg">
          <div class="container main-nav">
            <div class="main-nav-start">
              <div class="search-wrapper buscar">
                <i data-feather="search" aria-hidden="true"></i>
                <input type="text" placeholder="Buscar" required />
              </div>
            </div>
            <div class="main-nav-end">
              <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
                <span class="sr-only">Toggle menu</span>
                <span class="icon menu-toggle--gray" aria-hidden="true"></span>
              </button>
              <button class="theme-switcher gray-circle-btn" type="button" title="Switch theme">
                <span class="sr-only">Switch theme</span>
                <i class="sun-icon" data-feather="sun" aria-hidden="true"></i>
                <i class="moon-icon" data-feather="moon" aria-hidden="true"></i>
              </button>
              <div class="notification-wrapper">
                <button class="gray-circle-btn dropdown-btn" title="To messages" type="button">
                  <span class="sr-only">To messages</span>
                  <span class="icon notification" aria-hidden="true"></span>
                </button>
                <ul class="users-item-dropdown notification-dropdown dropdown">
                  <li>
                    <a href="##">
                      <div class="notification-dropdown-icon info">
                        <i data-feather="check"></i>
                      </div>
                      <div class="notification-dropdown-text">
                        <span class="notification-dropdown__title">System just updated</span>
                        <span class="notification-dropdown__subtitle">The system has been
                          successfully upgraded. Read more
                          here.</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="##">
                      <div class="notification-dropdown-icon danger">
                        <i data-feather="info" aria-hidden="true"></i>
                      </div>
                      <div class="notification-dropdown-text">
                        <span class="notification-dropdown__title">The cache is full!</span>
                        <span class="notification-dropdown__subtitle">Unnecessary caches take up
                          a
                          lot of memory space and
                          interfere ...</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="##">
                      <div class="notification-dropdown-icon info">
                        <i data-feather="check" aria-hidden="true"></i>
                      </div>
                      <div class="notification-dropdown-text">
                        <span class="notification-dropdown__title">New Subscriber here!</span>
                        <span class="notification-dropdown__subtitle">A new subscriber has
                          subscribed.</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="link-to-page" href="##">Go to Notifications page</a>
                  </li>
                </ul>
              </div>
              <div class="notification-wrapper">
                <button class="gray-circle-btn dropdown-btn" title="Ajustes" type="button">
                  <span class="sr-only">Ajustes</span>
                  <span class="icon setting" aria-hidden="true"></span>
                </button>
                <ul class="users-item-dropdown notification-dropdown dropdown">
                  <li>
                    <a href="##">
                      <div class="notification-dropdown-icon info">
                        <i data-feather="check"></i>
                      </div>
                      <div class="notification-dropdown-text">
                        <span class="notification-dropdown__title">System just updated</span>
                        <span class="notification-dropdown__subtitle">The system has been
                          successfully upgraded. Read more
                          here.</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="##">
                      <div class="notification-dropdown-icon danger">
                        <i data-feather="info" aria-hidden="true"></i>
                      </div>
                      <div class="notification-dropdown-text">
                        <span class="notification-dropdown__title">The cache is full!</span>
                        <span class="notification-dropdown__subtitle">Unnecessary caches take up
                          a
                          lot of memory space and
                          interfere ...</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="##">
                      <div class="notification-dropdown-icon info">
                        <i data-feather="check" aria-hidden="true"></i>
                      </div>
                      <div class="notification-dropdown-text">
                        <span class="notification-dropdown__title">New Subscriber here!</span>
                        <span class="notification-dropdown__subtitle">A new subscriber has
                          subscribed.</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="link-to-page" href="##">Go to Notifications page</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <!-- ! Main -->
      <main class="main users chart-page" id="skip-target">
        <div class="container">
          <h2 class="main-title">Tipo empleados</h2>
          <div class="row">
            <div class="col-lg-7">
              <div class="users-table table-wrapper">
                <table class="posts-table">
                  <thead>
                    <tr class="users-table-info">
                      <th>
                        <label class="users-table__checkbox ms-5">
                          <input type="checkbox" class="check-all" />Tipo empleado
                        </label>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <label class="users-table__checkbox">
                          <input type="checkbox" class="check" />
                            Jefe
                        </label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="users-table__checkbox">
                          <input type="checkbox" class="check" />
                            Gerente
                        </label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="users-table__checkbox">
                          <input type="checkbox" class="check" />
                            Trabajador
                        </label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="users-table__checkbox">
                          <input type="checkbox" class="check" />
                            Repartidor
                        </label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="users-table__checkbox">
                          <input type="checkbox" class="check" />
                            Secretario
                        </label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="users-table__checkbox">
                          <input type="checkbox" class="check" />
                            Empacador
                        </label>
                      </td>
                    </tr>                    
                  </tbody>
                </table>
              </div>
            </div>
            <section class="col-lg-5">
                <article class="white-block">
                  <div class="row">
                    <table class="posts-table">
                      <thead>
                        <tr class="users-table-info">
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <label for="inputPassword" class="col-sm-3s col-form-label">Tipo Empleado:</label>
                            <div class="col-sm-12">
                              <input type="text">
                            </div>
                          </td>                                                      
                        </tr>
                        <tr>
                          <td>
                            <form action="" method="POST" class="text-center">
                              <a href="#" class="btn btn-outline-secondary agregarT">Agregar</a>
                            </form>
                          </td>                                                    
                        </tr>
                        <tr>
                          <td>
                            <form action="" method="POST" class="text-center">
                              <a href="#" class="btn btn-outline-secondary agregar">Editar</a>
                            </form>
                          </td>                                                    
                        </tr>
                        <tr>
                          <td>
                            <form action="" method="POST" class="text-center">
                              <a href="#" class="btn btn-outline-secondary cancelar">Cancelar</a>
                            </form>
                          </td>                                                    
                        </tr>
                      </tbody>
                    </table>
                  </div>                  
                </article>
            </section>
          </div>
        </div>
      </main>
      <!-- ! Footer -->
      <footer class="footer">
        <div class="container footer--flex">
          <div class="footer-start">
            <p>
              2022 © Thru Colors -
              <a href="../index.html" target="_blank" rel="noopener noreferrer">Thru Colors.com</a>
            </p>
          </div>
          <ul class="footer-end">
            <li><a href="##">About</a></li>
            <li><a href="##">Support</a></li>
            <li><a href="##">Puchase</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </div>
  <!-- Chart library -->
  <script src="../plugins/chart.min.js"></script>
  <!-- Icons library -->
  <script src="../plugins/feather.min.js"></script>
  <!-- Custom scripts -->
  <script src="../js/script.js"></script>

</body>

</html>