@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Poppins:wght@300&display=swap'); /*font-family: 'Nunito Sans', sans-serif; font-family: 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root{
    --purple: #5E2590;
    --navigator: #9FE40B;
    --button: #EFEFEF;
    --button_color: #F68C1B;
    --button_hover: #A058CF;
    --black: #000;
    --hover: #DC3545;
    --search: #C9B6DA;
    --search_hover: #B9ABE0;
    --footer: #D6D6D6;
    --titulos: #686666;
    --agregar: #F88179;
    --agregar_hover: #F55A4E;

}

@font-face {
    font-family: 'Kathen';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/kathen.woff2') format('woff2');
}

h1{
    font-family: 'Roboto', sans-serif;
}

.titulo{
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--titulos);
    font-weight: 700;
}

.desciption{
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
}

.precio{
    font-weight: 900;
}

header{
    position: fixed;
    z-index: 10;
    transition: 0.4s;
    width: 100%;
}

.carrito{
    height: 35px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fixed{
    background-color: var(--purple);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 10;
}

h4{
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.hero{
    margin-top: 55px;
}

.kathen {
    font-family: 'Kathen';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-size: 25px;
  }

.logo-brand{
    height: 50px;
}

.mover{
    transform: rotate(180deg);
}

.relaciones{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enviar{
    background-color: var(--agregar);
    color: var(--button);
    border-color: var(--agregar);
    width: 180px;
}

.enviar:hover{
    background-color: var(--agregar_hover);
    border-color: var(--agregar_hover);
    outline-style: none;
    color: var(--button);
}

.efecto{
    transition: 0.8 ease;
}

.efecto:hover{
    background-color: var(--button);
}

.relacionados{
    height: 100px;
}

.titulo{
    font-family: 'Nunito Sans', sans-serif; 
    font-family: 'Poppins', sans-serif;
}

  .search{
    border-color: #F3F5F7;
    background: var(--search);
    border-color: var(--search);
  }
  
  .search:hover{
    background-color: var(--search_hover);
  }

.navbar{
    background-color: var(--purple);
}

.navigator{
    color: var(--navigator);
    text-decoration: none;
}

#activo{
    color: var(--navigator);
}

.profile{
    border-radius: 50%;
}

.logo{
    height: 30px;
}

.card_buttom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container{
    width: 400px; 
}
  
  .image{
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .overlay{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
.filtro{
    margin-top: 12px;
    margin-left: 25px;
}

.card_link{
    color: var(--black);
}

.card_link:hover{
    color: white;
}

.pagination{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item{
    color: var(--black);
}

.actions{
    color: var(--purple);
}

.page-link:hover{
    color: var(--purple);
}

#actions{
    height: 20px;
}

#label{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

#customRange1{
    margin-top: 13px;
}

#marcas{
    border-radius: 20px;
    background-color: var(--button);
    border-color: var(--button);
    color: black;
}

#marcas:hover{
    background-color: var(--hover);
    color: white;
    border-color: var(--hover);
}

#dropdownMenuLink{
    background-color: var(--button);
    color: var(--black);
    border-color: var(--button);
}

#dropdown_menu{
    margin-top: 15px;
}

a{
    text-decoration: none;
    color: var(--purple);
}

a:hover{
    color: var(--button_hover);
}

.footer {
    margin-top: 50px;
    text-align: center;
    background-color: var(--footer);
    padding: 2rem;
    color: var(--black);
    bottom: 0;
    width: 100%;
  }

.icon{
    height: 25px;
    cursor: pointer;    
}

.counter{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.incremento{
    background-color: var(--hover);
    color: var(--button);
}

.incremento:hover{
    background-color: var(--hover);
    color: var(--button);
}

.relationated_products{
    margin-top: 10rem;
}

.details{
    margin-top: 80px;
}